@import "../../../_vars.scss";
@import "../../../mixins";
.Inner {
  position: relative;
  display: flex;
  width: 100%;

  padding-bottom: 9.6rem;

  @include breakpoint($tablet-width) {
    flex-direction: column;
    gap: 72px;
  }

  &-item {
    position: relative;
    &:first-child {
      width: 65%;
    }

    width: 45%;
    @include breakpoint($tablet-width) {
      width: 100% !important;
    }
  }
  &-title {
    padding-top: 8.6rem;
    padding-bottom: 3.9rem;
    color: $text-color;
    font-size: 3.6rem;
    font-weight: 900;

    width: 80%;
    text-wrap: balance;

    line-height: normal;
  }
  &-description {
    padding-bottom: 4.5rem;

    font-size: 1.6rem;
    font-weight: 400;
    color: $text-color;

    width: 37rem;

    line-height: 2.3rem;

    @include breakpoint($tablet-width) {
      width: 100% !important;
    }
  }
  &-image {
    max-width: none;

    height: 516px;
    user-select: none;

    object-fit: cover;

    @include breakpoint($tablet-width) {
      width: 100%;
    }
    @include breakpoint($mobile-width) {
      height: 469px;
    }

    &:after {
      content: "";
      background-color: rgba(#3145ff0f, 0.06);
      padding: 4rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
    }
  }
  &-picture {
    display: flex;
    margin-top: 7rem;
    margin-left: -20rem;

    @include breakpoint($tablet-width) {
      margin: 2.3rem;
    }
  }
  &-droneImg {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    flex-shrink: 0;

    object-fit: contain;
    object-position: center;
  }
  &-picture {
    position: absolute;
    top: 0;
    left: 0;
  }
  &-icon {
    position: absolute;
    bottom: 5%;
    right: -10%;
    cursor: pointer;

    @include breakpoint($tablet-width) {
      display: none;
    }
  }
  &-image-container {
    overflow: hidden;
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    justify-content: center;

    position: absolute;
    bottom: 10%;
    right: 5%;

    &-title {
      font-weight: 900;
      font-size: 1.5rem;
      color: $white;
    }
    &-description {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: $white;
      width: 15.6rem;
    }
    &-price {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.7rem;
      color: $white;
    }
    &-inner {
      position: relative;
      &::before {
        content: "";
        width: 9px;
        height: 9px;
        background-color: $white;
        position: absolute;
        top: -15%;
        left: -8%;

        @include breakpoint($mobile-width) {
          top: -15%;
          left: -5%;
        }
      }
    }

    @include breakpoint($mobile-width) {
      padding-top: 15rem;
      top: 0;
      left: 10%;
    }
  }

  &-slide {
    display: flex;
    opacity: 0;
    visibility: hidden;

    transition: all 0.3s linear;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
  &-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;

    position: absolute;
    bottom: 5%;
    left: 5%;

    &-dot {
      border: none;

      content: ".";
      width: 3.9rem;
      height: 0.8rem;
      background-color: $white;
      opacity: 0.35;

      transition: all 0.5s linear;

      &-active {
        opacity: 1;
      }
    }
  }
}
