@import "../../../vars";
@import "../../../mixins";
.receipts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;

  @include breakpoint($tablet-width) {
    flex-direction: column;
  }

  &-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    &:nth-child(1) {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 100;
        background: linear-gradient(
          to bottom right,
          rgba(136, 49, 205, 0.53),
          rgba(69, 10, 194, 0.91)
        );
      }
    }
    &:nth-child(2) {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 50;
        background: linear-gradient(
          to bottom right,
          rgba(57, 148, 255, 0.34),
          rgba(69, 57, 216, 1)
        );
      }
    }

    &:hover {
      > .receipts-preview {
        transform: scale(1.2);
      }
    }
  }

  &-preview {
    max-width: none;
    width: 100%;
    height: 425px;

    object-position: center;
    object-fit: cover;

    transition: all 0.3s linear;
  }
  &-info {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 22.6rem 10.9rem 11.3rem 8.8rem;

    @include breakpoint($tablet-width) {
      padding: 180px 103px 131px 73px;
    }

    @include breakpoint($mobile-width) {
      padding: 178px 53px 131px 53px;
    }

    &::before {
      content: "";

      width: 2.3rem;
      height: 2.3rem;
      background-color: $white;
      position: absolute;
      margin-left: -3.5rem;
      margin-top: -3.5rem;
    }
  }
  &-title {
    font-weight: 900;
    font-size: 27px;
    color: $white;
    line-height: 121%;

    padding-bottom: 0.8rem;

    text-wrap: balance;

    @include breakpoint($tablet-width) {
      font-size: 25px;
      //width: 75%;
    }
    @include breakpoint($mobile-width) {
      font-size: 20px;
    }
  }
  &-description {
    font-weight: 400;
    font-size: 1.6rem;
    color: $white;
    line-height: 135%;
  }
}
