@import "../../vars";
@import "../../mixins";
.header {
  flex: 0 0 auto;
}
.header {
  max-height: 8.1rem;
  padding: 2.35rem 0;
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    button {
      @include breakpoint($tablet-width) {
        display: none;
      }

    }
  }
  &-logo {
    display: flex;
    align-items: center;

    cursor: pointer;
    &-block {
      display: flex;
      flex-direction: column;
      margin-left: 0.3rem;
    }
    &-title {
      color: $primary;
      font-size: 1.3rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-description {
      font-size: 1.1rem;
      font-weight: 400;
      white-space: nowrap;
      padding-top: 0.3rem;
    }
  }
  &-nav {
    flex-grow: 1;
    @include breakpoint($tablet-width) {
      display: none;
    }
  }
  &-container {
    max-width: $desktop-width;
    padding: 0 1.5rem;
    margin: 0 auto;

    @include breakpoint($mobile-width) {
      max-width: $mobile-width;
      padding: 0 1.6rem;
    }

    @include breakpoint($tablet-width) {
      max-width: $tablet-width;
      padding: 0 1rem;
    }
  }
  &-action {
    display: flex;
    align-items: center;
    gap: 40px;

    @include breakpoint($tablet-mobile-width) {
      display: none;
    }
  }
  &-profile {
    color: $text-color;
    font-size: 1.2rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;

    flex-grow: 1;

    white-space: nowrap;
  }
  &-number {
    font-size: 1.3rem;
    font-weight: 700;
    color: $text-color;
    white-space: nowrap;

    @include breakpoint($tablet-width) {
      padding-right: 8.8rem;
    }
  }

  &-info {
    @include breakpoint($tablet-mobile-width) {
      display: none;
    }
  }

  &-burger {
    display: none;

    width: 3.1rem;
    height: 0.3rem;
    background-color: $text-color;

    position: relative;

    cursor: pointer;

    &:after {
      content: "";
      width: 3.1rem;
      height: 0.3rem;
      background-color: $text-color;
      position: absolute;
      bottom: 0.7rem;
    }
    &::before {
      content: "";
      width: 3.1rem;
      height: 0.3rem;
      background-color: $text-color;
      position: absolute;
      top: 0.7rem;
    }

    @include breakpoint($tablet-width) {
      display: block;
    }
  }
}
