$primary: #0C76D8;
$text-color: #2A2D46;
$text-color-secondary: #2C3BA0;
$gray: #646986;
$bg-color: #343A62;
$white: #fff;
$text-secondary: #9094BB;

$pink: #EB2D66;

$desktop-width: 1170px;
$tablet-width: 992px;
$tablet-mobile-width: 768px;
$mobile-width: 575px;